body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

hr {  
  margin: 6px 0 5px 0;
}

.ws-body {
  padding-top: 75px;
}

.ws-modal {
  position: relative;
}
.ws-error, .ws-waiting {
  position: fixed;
  height: 100%;
  margin-top: -24px;
  margin-left: -15px;
  background-color:rgba(0,0,0,0.433);
  z-index: 1100;
}
@media (max-width: 767px) {
  .ws-error, .ws-waiting {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .ws-error, .ws-waiting {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .ws-error, .ws-waiting {
    width: 83.33333333%;
  }
}
.ws-waiting-icon{
  position: absolute;
  top:50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  color: #239D56;
}
.ws-error-message {
	position: absolute;
	bottom: 30%;
	width: 100%;
	background-color:#DA5450;
  text-align: center;
	color: #ffffff;
	font-size: 1.4em;
	font-weight: lighter;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ws-error-glyphicon {
	margin-left: 15px;
}
.ws-error-button {	
	background-color: #C9302C;
}
.ws-error-button:hover {
	background-color: #B92C29;
	color: #ffffff;
	outline:0 !important;
}

.ws-vertical-navbar {
  margin-left: -18px;
}
.ws-vertical-navbar .list-group {
  margin-bottom: 0px;
}
.ws-vertical-navbar .list-group-item {
  border: none;
  padding-bottom: 5px;
  font-size: 16px;
}
.ws-vertical-navbar .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.ws-vertical-navbar .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.ws-vertical-navbar .item{
  color: #6F6F6F;
}
.ws-vertical-navbar .item:hover,
.ws-vertical-navbar .item:focus {
  color: #a6a6a6;
  background-color: #ffffff;
  text-decoration: underline;
}
.ws-vertical-navbar .item.active {
  z-index: 2;
  color: #0088CC;
}
.ws-vertical-navbar .active-parent {
  color: #353535;
}
.ws-vertical-navbar .children {
  display: none;
}
.ws-vertical-navbar .child {
  margin-left: 8px;
  font-size: 13px; 
}

.ws-containter {
  width: 92.5%;
  margin-right: auto;
  margin-left: auto;
}

#basic-markers-map {
  width: 100%;
  height: 220px;
  margin-bottom: 10px;
}

.ws-dropdown-container {
  display: none;
}

.ws-dragandrophandler {
  border:2px dashed #C3C5C7;
  margin: 20px 0;
  padding: 35px 20px; 
  text-align: center; 
  color: #C3C5C7;
  width:100%;
}

.ws-dragandrophandler h1 {
  font-size: 32px; 
  margin-bottom: 20px;
  font-weight: normal;
}

#ws-modal-parsing-measures-data-table {
  display: none;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.glyphicon-refresh-animate {
  -webkit-animation: spin .8s infinite linear;
  -moz-animation: spin .8s linear infinite;
  -o-animation: spin .8s linear infinite;
  -animation: spin .8s infinite linear;

  cursor: progress;
  display: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}