<ol class="breadcrumb">
	<li><a href="#">Places</a></li>
	<li><a href="#places/{{this.attributes.id}}">{{this.attributes.name}}</a></li>
	<li class="active">Charts</li>
</ol>
<ul class="nav nav-tabs" role="tablist" id="charts-tabs">
	<li class="active"><a href="#occupation-tab" role="tab" data-toggle="tab">Occupation</a></li>
	<li><a href="#heatmap-tab" role="tab" data-toggle="tab">Heatmap</a></li>
	<li><a href="#white-spaces-tab" role="tab" data-toggle="tab">White Spaces</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="occupation-tab"></div>
	<div class="tab-pane fade" id="heatmap-tab"></div>
	<div class="tab-pane fade" id="white-spaces-tab"></div>
</div>