<div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-skinny">GET IN TOUCH </h1>
        <h1 class="modal-title text-skinny">WITH US </h1>
      </div>
      <div class="modal-body">
        <div id="contact-info">
          <section class="contact-card">
            <span class="ws-dark-gray"><b>Freddy Rondón</b></span><br>
            <span class="ws-gray">Developer</span><br>
            <a class="ws-blue" href="mailto:ifreddyrondon@gmail.com">ifreddyrondon@gmail.com</a>
          </section>
          <section class="contact-card">
            <span class="ws-dark-gray"><b>Andrés Arcia</b></span><br>
            <span class="ws-gray">Developer</span><br>
            <a class="ws-blue" href="mailto:andres.arcia@cl.cam.ac.uk">andres.arcia@cl.cam.ac.uk</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>