<div class="row">
	<div id="su-list-coord-to-edit" class="col-md-3"></div>
	<div class="col-md-9">
		<div id="ed-coord-controls" class="col-xs-12 col-sm-12 col-md-12">
			<div class="btn-group">
				<button type="button" class="btn action-btn" id="ed-coord-delete" disabled>
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn select-btn" id="ed-coord-select-first-coord">
					first
				</button>
				<button type="button" class="btn select-btn" id="ed-coord-select-last-coord">
					last
				</button>

				<button type="button" class="btn action-btn" id="ed-coord-select-left-plus-coord" disabled>
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</button>
				<input type="input" class="action-btn" id="ed-coord-window-left-input" value="5" size="3" maxlength="3" disabled/>
				<button type="button" class="btn 2-action-btn" id="ed-coord-select-left-minus-coord" disabled>
					<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
				</button>

				<button type="button" class="btn action-btn" id="ed-coord-select-zoom-out-coord" disabled>
					<span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn action-btn" id="ed-coord-select-zoom-to-fit-coord" disabled>
					<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
				</button>

				<button type="button" class="btn 2-action-btn" id="ed-coord-select-right-minus-coord" disabled>
					<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
				</button>
				<input type="input" class="2-action-btn" id="ed-coord-window-right-input" value="5" size="3" maxlength="3" disabled/>
				<button type="button" class="btn action-btn" id="ed-coord-select-right-plus-coord" disabled>
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</button>

				<button type="button" class="btn action-btn" id="ed-coord-deselect">
					deselect
				</button>
			</div>
		</div>
  		<div class="col-xs-11 col-sm-11 col-md-11">
			<div id="ed-coord-canvas" style="height:450px;"></div>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1">
			<div id="ed-coord-markers-slider" style="height:450px;"></div>
		</div>
		<div class="col-md-11 col-md-offset-0">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div id="ed-coord-spreader-chart" style="height:90px;width:100%;"></div> 
			</div>
			<div class="col-md-3 col-sm-3">
				<select class="form-control" id="ed-coord-spreader-unit">
					<option value="m">Meters - m</option>
					<option value="km">Kilometers - km</option>
				</select>
				<br>
				<br>
			</div>
			<div class="col-md-9 col-sm-9">
				<div id="ed-coord-spreader-slider"></div>
			</div>
		</div>
  	</div>
</div>