<ol class="breadcrumb">
	<li><a href="#">Places</a></li>
	<li><a href="#places/{{this.attributes.id}}">{{this.attributes.name}}</a></li>
	<li class="active">Edit place</li>
</ol>
<ul class="nav nav-tabs" role="tablist" id="edit-tabs">
	<li class="active"><a href="#edit-coord-tab" role="tab" data-toggle="tab">Coordinates</a></li>
	<li><a href="#edit-outliers-tab" role="tab" data-toggle="tab">Outliers</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="edit-coord-tab"></div>
	<div class="tab-pane fade" id="edit-outliers-tab"></div>
</div>