<div class="row">
	<div id="su-list-coord-to-edit" class="col-md-3"></div>
  	<div class="col-md-9">
  		<div id="su-edit-place-controls" class="col-xs-12 col-sm-12 col-md-12">
  			<div class="btn-group">
				<button type="button" class="btn action-btn su-delete-coord" disabled>
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn select-btn su-select-first-coord">
					first
				</button>
				<button type="button" class="btn select-btn su-select-last-coord">
					last
				</button>

				<button type="button" class="btn action-btn su-select-left-plus-coord" disabled>
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</button>
				<input type="input" class="action-btn" id="su-select-window-left-input" value="5" size="3" maxlength="3" disabled/>
				<button type="button" class="btn 2-action-btn su-select-left-minus-coord" disabled>
					<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
				</button>

				<button type="button" class="btn action-btn su-select-zoom-out-coord" disabled>
					<span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn action-btn su-select-zoom-to-fit-coord" disabled>
					<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
				</button>

				<button type="button" class="btn 2-action-btn su-select-right-minus-coord" disabled>
					<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
				</button>
				<input type="input" class="2-action-btn" id="su-select-window-right-input" value="5" size="3" maxlength="3" disabled/>
				<button type="button" class="btn 2-action-btn su-select-right-plus-coord" disabled>
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</button>

				<button type="button" class="btn action-btn su-deselect-coord">
					deselect
				</button>
			</div>
		</div>
  		<div class="col-xs-11 col-sm-11 col-md-11">
			<div id="map_canvas_coordinates" style="height:450px;"></div>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1" id="markers-slider-edit-place">
			<div class="markers-slider" style="height:450px;"></div>
		</div>
		<div class="col-md-11 col-md-offset-0">
			<br>
			<div class="col-md-3">
				<select class="form-control" id="spread-distance-unit-slider">
					<option value="m">Meters - m</option>
					<option value="km">Kilometers - km</option>
				</select>
			</div>
			<div class="col-md-9">
				<div class="spread-distance-slider"></div>
			</div>
		</div>
  	</div>
</div>