<div id="login-container">
  <h1 id="login-title">Sign in to Zebra</h1>
  <form id="login-form">
    <input type="email" class="" id="login-email" placeholder="Email">
    <input type="password" class="" id="login-password" placeholder="Password">
    <button type="submit" id="login-submit" disabled>
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Keep me signed in
      </label>
    </div>
  </form>
  <br>
  <hr>
  <h5 id="login-new-account" class="text-skinny text-center">Don't have an account in zebra? <a href="javascript:void(0)">Create it now</a></h5>
</div>