<ul class="list-group">
	<li>
		<a href="#" class="active">
			<span class="glyphicon glyphicon-globe"></span>
			<span> Places</span>
		</a>
	</li>

	<li>
		<a href="#help">
			<span class="glyphicon glyphicon-question-sign"></span>
			<span> Help</span>
		</a>
	</li>
</ul>