<ul class="list-group">
	<li>
		<a href="#places/{{id}}">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span> Coordinates</span>
		</a>
	</li>
	<li>
		<a href="#places/{{id}}/edit?type=coordinates">
			<span class="glyphicon glyphicon-pencil"></span>
			<span> Edit place</span>
		</a>
	</li>
	<li>
		<a href="#places/{{id}}/charts?type=occupation">
			<span class="glyphicon glyphicon-stats"></span>
			<span> Occupation</span>
		</a>
	</li>
</ul>