<div class="map-component-over">
	<div class="col-md-2 col-md-offset-10">
		<div class="col-md-12">
			<a href="javascript:void(0)" class="map-component-config">
				<span class="glyphicon glyphicon-cog"></span>
			</a>
			<a href="javascript:void(0)" class="pull-right map-component-resize-full">
				<span class="glyphicon glyphicon-resize-full"></span>
			</a>
		</div>
	</div>
</div>