<div class="modal fade" id="u-modal-parsing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
						0%
						</div>
				</div>

				<div class="list-group">
					<a href="#" class="list-group-item active">
						<span class="badge">0/{{numFiles}}</span>
						Files processed
					</a>
					<a href="#" class="list-group-item">
						<h4 id="u-modal-parsing-table-heading" class="list-group-item-heading">Measures data</h4>
						<table id="u-modal-parsing-table" class="table table-hover">
							<tr>
								<td>Name</td><td></td>
							</tr>
							<tr>
								<td>Total number of samples</td><td></td>
							</tr>
							<tr>
								<td>Total number of frequencies</td><td></td>
							</tr>
							<tr>
								<td>Range of frequencies</td><td></td>
							</tr>
						</table>
					</a>
					<a href="#" class="list-group-item">Uploading data
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right"></span>
					</a>
					<a href="#" class="list-group-item">Processing in server
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right"></span>
					</a>
				</div>


			</div>
			<div class="modal-footer">
				<button id="u-modal-parsing-cancel-btn" type="button" class="btn btn-danger" data-dismiss="modal">Cancel upload</button>
			</div>
		</div>
	</div>
</div>