<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header" id="navbar-header">
			<button type="button" class="navbar-toggle" id="toggle-main-menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				<span class="glyphicon glyphicon-user"></span>
				<b class="caret"></b>
			</button>
			<a href="#" class="navbar-brand">
				<div class="logo"></div>
				<h1>ZEBRA RFO</h1>
				<h6>RADIO FREQUENCY OBSERVER</h6>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-menu">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Profile</a></li>
				<li><a href="#">Account settings</a></li>
				<li class="divider"></li>
				<li><a href="#logout">Log Out</a></li>
			</ul>
		</div>
	</div>
</nav>