<div class="row">
	<div class="col-md-12 o-settings">
		<form class="form-horizontal">
			{{#if bands}}
				<div class="form-group">
					<label for="o-frequency-bands" class="col-sm-2 control-label">Frequency bands</label>
					<div class="col-sm-10">
						<input class="form-control" id="o-frequency-bands" type="hidden" />
					</div>
				</div>
			{{/if}}
			{{#if place.frequenciesChannelWidth}}
				<div class="form-group">
					<label for="o-channel-width" class="col-sm-2 control-label">Channel width</label>
					<div class="col-sm-10">
						<input class="form-control" id="o-channel-width" type="hidden" />
					</div>
				</div>
			{{/if}}
			<div class="form-group">
				<label for="o-threshold-slider" class="col-sm-2 control-label">Threshold</label>
				<div class="col-sm-10">
					<div id="o-threshold-slider"></div>
				</div>
			</div>
		</form>
	</div>
	<div id="o-chart" class="col-md-12">
		<div class="captures-chart" style="height:420px;width:95%;"></div> 
		<div class="high-chart-tooltip">
			<p style="margin:0">default</p>
		</div>
	</div>
	<div class="col-md-12 o-settings">
		<div class="form-group input-group">
			<input class="form-control" id="o-select-channels" type="hidden" />
			<div class="input-group-btn">
				<button type="button" class="btn btn-primary" id="o-heatmap-btn">Build heatmap</button>
			</div>
		</div>
	</div>
</div>