<div class="row">
	<div class="col-md-12 slider-container occupation-settings">
		<h5>Channel width</h5>
		<input class="form-control" id="allocation-channel" type="hidden" />
		<h5>Threshold</h5>
		<div class="slider"></div>
	</div>
	<div id="chart_canvas_occupation" class="col-md-12">
		<div class="chart_power_frequency" style="height:420px;width:95%;"></div> 
		<div class="chart_tooltip">
			<p style="margin:0">default</p>
		</div>
	</div>
	<div class="col-md-12 occupation-settings">
		<div class="col-md-8">
			<input class="form-control" id="select-channels" type="hidden" />
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary btn-block build-heatmap-btn-container">Build heatmap</button>
		</div>
	</div>
</div>