<div class="tooltip" role="tooltip">
	<div class="tooltip-arrow"></div>
	<div class="tooltip-inner-2">
		<b>Your password mush have:</b>
		<div class="text-skinny">
			<ul>
				<li>8 or more characters</li>
				<li>At least one number</li>
				<li>Upper and lowercase letters</li>
			</ul>
		</div>
	</div>
</div>