<div role="tabpanel">

  <ul class="nav nav-tabs" role="tablist" id="places-tabs">
    <li role="presentation" class="active">
      <a href="#me-tab" aria-controls="panel-1" role="tab" data-toggle="tab">My Places</a>
    </li>
    <li role="presentation">
      <a href="#shared-tab" aria-controls="panel-1" role="tab" data-toggle="tab">Shared Places</a>
    </li>
  </ul>
 
  <div class="tab-content tab-content-places">
    <div role="tabpanel" class="tab-pane active" id="me-tab"></div>
    <div role="tabpanel" class="tab-pane active" id="shared-tab"></div>
  </div><!--End tab-content  -->

</div><!--End tabpanel  -->