<div class="ws-vertical-navbar">
	<ul class="list-group">
		<li class="list-group-item">
			<a href="#places" class="parent item active">
				<span class="glyphicon glyphicon-globe"></span>
				<span> Places</span>
			</a>

			<ul class="list-group children"></ul>
		</li>

		<li class="list-group-item">
			<a href="#help" class="parent item">
				<span class="glyphicon glyphicon-question-sign"></span>
				<span> Help</span>
			</a>

			<ul class="list-group children"></ul>
		</li>
	</ul>
</div>