<li class="list-group-item single-place-menu-item">
	<a href="#places/{{id}}" class="child item">
		<span class="glyphicon glyphicon-map-marker"></span>
		<span> Coordinates</span>
	</a>
</li>
<li class="list-group-item single-place-menu-item">
	<a href="#places/{{id}}/edit" class="child item">
		<span class="glyphicon glyphicon-pencil"></span>
		<span> Edit place</span>
	</a>
</li>
<li class="list-group-item single-place-menu-item">
	<a href="#places/{{id}}/charts?type=occupation" class="child item">
		<span class="glyphicon glyphicon-stats"></span>
		<span> Occupation</span>
	</a>
</li>