<div class="ws-vertical-navbar">
	<ul class="list-group">
		<li class="list-group-item">
			<a href="#places" class="parent item active">
				<span class="glyphicon glyphicon-globe"></span>
				<span> Places</span>
			</a>

			<ul class="list-group children"></ul>
		</li>

		<li class="list-group-item">
			<a href="#hotspots" class="parent item">
				<span class="glyphicon glyphicon-fire"></span>
				<span> Hotspots</span>
			</a>

			<ul class="list-group children">
				<li class="list-group-item">
  					<a href="#hotspots/upload" class="child item">
						<span class="glyphicon glyphicon-floppy-open"></span>
						<span> Upload hotspot</span>
					</a>
  				</li>
			</ul>
		</li>
	</ul>
</div>