<br>
<div class="row">
	<div class="col-md-3 settings">
		<h4>Data Settings</h4>
		<div class="form-group">
			<label for="quality-slider">Quality</label>
			<div class="quality-slider"></div>
		</div>
	</div>
	<div class="col-md-9">
		<div id="white-spaces-canvas"></div>
	</div>
</div>